.hero-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  padding: 0;
  //max-width: 1200px;
  margin: 0 auto;
  overflow:hidden;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column-reverse;
  flex-wrap:wrap;
  margin-top: 65px;
  color:#fff;
  padding:0 15px;
  position: relative;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    flex-direction: column;
    flex-wrap:nowrap;
    margin-top:0;
    padding:0 30px;
  }
  * {
    //color: #fff;
    width:100%;
  }

  &:before{
    /*
    content:"";
    left:0;
    bottom:50px;
    background-image:url(../../images/hero-image-before.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    overflow: hidden;
    background-size: cover;
    background-position: bottom;
    */
  }
  
  &:after{
    /*
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: -30%;
    top: -42%;
    background: #cf2a1d;
    background: linear-gradient(
90deg
,#cf2a1d 0,#e64d31 50%,rgba(231,79,50,0) 100%);
    z-index: 1;
    transform: rotate(
150deg
);
*/
  }

  &--full-height {
    height: 100%;
    padding: 50px 0 0;
    @media (min-width: $breakpoint-md) {
      padding: 0;
      min-height: 100vh;
      //margin-top:-88px;
      padding: 150px 0;
    }
  }

  .col {
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    @media (min-width: $breakpoint-md) {
      flex: 1;
      width: auto;
    }
  }
  &--image {
    /*
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      //background-color: rgba(0, 0, 0, 0.2);
    }
    */
  }
  &__image--mobile{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-size:cover;
    margin-top: 15px;
    height:240px;
    @media (min-width: $breakpoint-md) {
     display:none;
    }
  }
  &__image{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background-size:cover;
    margin-top:50px;
    height:240px;
    display:none;

    @media (min-width: $breakpoint-md) {
      position: absolute;
      z-index: -1;
      margin-top:0;
      height:100%;
      background-position: inherit;
      display:block;
    }
  }
  &__content {
    max-width: 100%;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: auto;
    @media (min-width: $breakpoint-md) {
      //margin-top: 200px;
      max-width: 60%;
    }
    @media (min-width: $breakpoint-lg) {
      max-width: 55%;
      //margin-top: 0px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      font-weight:400;
      
    }
    h1{
      //padding-left:25px;
      &:before{
        /*
        content:"";
        height:100%;
        width:2px;
        background-color:#fff;
        position: absolute;
        left:0;
        */
      }
    }
    h2{
      @include font-size(3.5rem);
      font-family: 'Comfortaa', cursive;
      font-weight:700;
      -webkit-text-stroke-width: 2px;
      line-height:1.3;
    }
    p {
      //color: #ffb739;
      //text-transform: uppercase;
      //font-weight:700;
      //letter-spacing: 1px;
      @include font-size(1.6rem);
      margin:0;
      strong {
        color: $purple;
        font-weight:400;
      }
    }
    .btn{
      width:100%;
      //display:none;
      margin:0;
      @media (min-width: $breakpoint-md) {
        width:auto;
        display: inline-block;
        //margin-top:70px;
      }
      &:after{
        /*
        @media (min-width: $breakpoint-md) {
          content:'';
          background-image: url(../../images/graphics-arrow.svg);
          background-size:contain;
          position:absolute;
          right: -180px;
          bottom: 10px;
          width: 155px;
          height: 86px;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          background-repeat: no-repeat;
        }
        */
      }
    }
    img{
      max-width:250px;
      margin: 75px 0 15px;
    }
  }
  &__login {
    margin-left: auto;
    padding: 25px;
    background: rgba(42, 46, 55, 0.8);
    margin-right: auto;
    form {
      p {
        label,
        input {
          &:not([type="checkbox"]) {
            width: 90%;
          }
        }
        input {
          background: rgba(255, 255, 255, 0.5);
          box-shadow: none;
          border: none;
          padding: 15px;
          margin-top: 10px;
        }
      }
      .button {
        background-color: #2a7ab0;
        width: 97% !important;
      }
    }
  }
  &__time{
      //color: #ffb739;
      //text-transform: uppercase;
      //font-weight:700;
      //letter-spacing: 1px;
      margin: 15px 0;
      @include font-size(1.6rem);
      //margin:0;
      .green {
        color: $purple;
        font-weight:400;
      }
  }
  &__anchor{
    margin:15px auto 0;
    text-align:center;
    @media (min-width: $breakpoint-md) {
      display:none;
    }
  }
}
.logged-in{
  .hero-section__button{
    //display:none;
  }
}