.page-cocktail-lounge{
    .main{
        background-size: cover!important;
        background-position: top center!important;
        background-repeat: no-repeat!important;
        background-attachment: fixed;
    }
}